{% extends "base.html" %} {% block content %}
<h3>Edit Subject</h3>
<form method="POST">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      value="{{ subject.name }}"
      required
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea name="description" class="form-control" required>
{{ subject.description }}</textarea
    >
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
  <a href="{{ url_for('view_subjects') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
